<footer id="footer-page">
  <img id="jesus-cross" src="./../images/jesus-cross.png">
  <div class="clear"></div>
  <div class="footer-inner">
    <div class="container">
      <p class="mt-2 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse quasi amet porro
        aperiam minus corporis
        obcaecati, iusto, veritatis perferendis eum eligendi beatae explicabo dolore! Quo ullam ipsa delectus soluta
        molestiae!</p>
    </div>
  </div>
</footer>