<footer id="footer-page">
  <img id="jesus-cross" src="/images/jesus-cross.png">
  <div class="clear"></div>
  <div class="footer-inner">
    <div class="container">
      <p class="text-center"><span class="py-2 d-inline-block"><i class="fas fa-pastafarianism mr-2"></i>Flying
          Spaghetti Monster
          Software</span><span class="ml-4 py-2 d-inline-block"><i class="fab fa-github mr-2"></i><a
            href="https://github.com/gofran-team/iMass" target="_blank">Ir al repositorio en GitHub</a></span></p>
      <p class="text-justify"><small>Flying Spaghetti Monster Software se reserva el derecho de no ser responsable por
          la
          actualidad, exactitud, integridad o calidad de la información provista. Por lo tanto, las reclamaciones de
          responsabilidad por daños
          causados por el uso de cualquier información provista, que incluye cualquier tipo de información, incompleta o
          incorrecta, serán rechazadas.</small></p>
    </div>
  </div>
</footer>