.home-wrap {
  width: 100%;
  height: 72vh;
  position: relative;
  background: url("./../images/home-slide.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.home-wrap::after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
