#signup-form-wrap {
  background-color: $card-bg-light;
  background-image: url("./../images/signup-image.png");
  background-size: contain;
  background-position: -50px 30px;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px rgba($color: $shadow-dark, $alpha: 0.3);
  border-radius: 5px;
  width: 700px;
  height: 400px;

  #signup-form {
    width: 270px;
  }
}
