<div class="home-wrap">
  <form method="GET" action="/temple/search" class="search-bar-wrap">
    <p class="home-claim">Todas las iglesias y parróquias de Madrid valoradas por expertos feligreses</p>
    <div class="search-bar">
      <input name="search" id="search" class="search-text" type="text" placeholder="Busca tu templo" autofocus
        autocomplete="off">
      <button type="submit" class="search-button">
        <i class="fa fa-search"></i>
      </button>
      <a class="btn search-button no-border-radius ml-1" onclick="findNearMe()">
        <i class="fas fa-location-arrow"></i>
      </a>
    </div>
  </form>
</div>

<div class="container my-4">
  <h2 class="my-3">Los templos mejor valorados</h2>
  <div class="row display-flex">
    {{#each temples}}
    <div class="temple-card col-md-6 col-lg-4">
      {{>card}}
    </div>
    {{/each}}
  </div>
</div>