<div id="error-404" class="container-fluid pt-5">
  <video autoplay="autoplay" loop="loop" id="video-error" preload="auto" muted>
    <source src="/video/hell.webm" type="video/webm">
  </video>
  <h1 class="text-left mt-5 text-white col-lg-10 offset-lg-1">404: Parroquia no encontrada</h1>
  <p class="text-left text-white col-lg-6 offset-lg-1">Parece que te has alejado del camino del señor y has terminado
    en el infierno. Pero no pierdas la fe. Puedes realizar otra búsqueda o volver a la <a href="/">casa del señor</a>.
  </p>
</div>