<div id='error' class="container">
  <h3 class="display-1 mt-5">Error 404</h3>
  <h2>Vaya, parece que hubo un problemilla. La página solicitada no existe.</h2>
  <img id='not-found' src="/images/jesus-error-borde.jpg" alt="Jesus not found">
  <a class="btn button-primary mt-4" href="/" role="button">Volver a la casa del señor</a>
</div>