<div id='error' class="container">
  <h3 class="display-1 mt-5">Error 404</h3>
  <h2 class="text-center">Vaya, parece que hubo un problemilla. La página solicitada no existe.</h2>
  <div class="w-100 text-center my-4">
    <img id='not-found' src="/images/jesus-error.jpg" alt="Jesus not found">
  </div>
  <a class="btn button-primary mt-4" href="/" role="button">Volver a la casa del señor</a>
</div>