<div class="container my-4" id="search-results" data-search="{{search}}">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <h1 class="my-3">{{found}}</h1>
  <div class="row display-flex">
    {{#each temples}}
    <div class="temple-card col-md-6 col-lg-4" data-aos="fade-up">
      {{>card}}
    </div>
    {{/each}}
  </div>
</div>
<div id="map"></div>