<div class="container-fluid mb-4 px-0" id="search-results" data-search="{{search}}">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="row templesFoundMapRow">
    <div class="col-md-6 row">
      <h1 class="col-12 my-3">{{found}}</h1>
      {{#each temples}}
      <div class="temple-card col-xl-6" data-aos="fade-up">
        {{>card}}
      </div>
      {{/each}}
    </div>
    <div id="map-wrap" class="col-md-6">
      <div id="map"></div>
    </div>
  </div>
</div>