<div>
<div class="card" style="width: 18rem; display: flex; margin-left: 40%">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFxn0MkCoXSXiFlUr3iZEvb0VlKPizgfCJx6mlXXvU2Qiddi4-" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{temples.name}}</h5>
    <p class="card-text"><p>{{temples.description}}</p>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</div>
</div>