.vh-extend {
  height: 85vh;
}

// columns with the same height in a row

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}
