<div class="form-wrap">
  <h3 class="text-center mb-4">¡Regístrate!</h3>
  <form id="signup-form" method="POST">
    <div class="form-group">
      <label for="usernameSignUp">Usuario</label>
      <input type="text" class="form-control" id="usernameSignUp" name="username">
    </div>
    <div class="form-group">
      <label for="passwordSignUp">Contraseña</label>
      <input type="password" class="form-control" id="passwordSignUp" name="password">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
</div>