@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
body {
  background: #f2f7f5;
  color: #475d5b; }

a {
  color: #faae2b; }

.txt-dark {
  color: #00473e; }

.txt-light {
  color: #475d5b; }

.button-primary {
  background-color: #faae2b;
  color: #00473e;
  font-weight: bold; }
  .button-primary:hover {
    color: #00473e;
    box-shadow: 0 5px 15px -10px rgba(31, 18, 53, 0.6); }

input[type="text"],
input[type="password"] {
  color: #475d5b; }
  input[type="text"]:focus,
  input[type="password"]:focus {
    color: #475d5b;
    border-color: #faae2b;
    box-shadow: 0 0 0.2rem #faae2b; }

body {
  font: 15px "Lato", sans-serif; }

.vh-extend {
  height: 85vh; }

.row.display-flex {
  display: flex;
  flex-wrap: wrap; }

.row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00473e; }

p {
  color: text-light; }

#menu {
  background-color: #00473e; }
  #menu.menu-home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    position: absolute;
    z-index: 1;
    width: 100%; }
  #menu #logo-menu {
    background-image: url("./../images/logo-menu.svg");
    width: 62.5px;
    height: 23.125px; }
  #menu .authBtn {
    background-color: transparent; }
  #menu #menuItems {
    width: 100%;
    display: flex;
    justify-content: flex-end; }

#userProfile {
  cursor: pointer; }
  #userProfile img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.5); }

.temple-card {
  padding: 10px; }
  .temple-card .card {
    border: none;
    padding: 0;
    height: 100%;
    cursor: pointer; }
    .temple-card .card img {
      height: 200px;
      width: 100%;
      object-fit: cover; }

.zoom-box-shadow:hover {
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px); }

[class*="zoom-box-shadow"] {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.review .card-body {
  border-top: 1px solid rgba(71, 93, 91, 0.3);
  background-color: #fffffe; }

.rate-block span {
  font-size: 0.8rem; }

.rate-block .rate-wrap {
  height: 18.75px;
  width: 93.75px;
  background-image: url("./../images/sacred-host-back.svg");
  background-repeat: repeat-x; }
  .rate-block .rate-wrap .rate {
    height: 100%;
    width: 0%;
    transition: width 1s ease-in;
    overflow: hidden; }
    .rate-block .rate-wrap .rate .hosts-icons {
      background-image: url("./../images/sacred-host.svg");
      background-repeat: repeat-x;
      height: 100%;
      width: 1000px; }

.rate-block .rate-wrap-small {
  height: 12.5px;
  width: 62.5px; }

.review-comment {
  font-weight: lighter;
  font-size: 0.9rem; }

.message {
  position: fixed;
  z-index: 9;
  bottom: 0;
  right: -473px;
  transition: all 0.5s ease-in; }
  .message img {
    height: 200px; }
  .message .bubble {
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #00473e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #475d5b;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 300px; }

.showAlert {
  right: 0; }

.search-bar-wrap {
  z-index: 9;
  top: 26%;
  position: absolute;
  width: 100%; }
  .search-bar-wrap .home-claim {
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    width: 45%;
    margin: 0 auto 20px;
    color: #fffffe; }
  .search-bar-wrap .search-bar {
    width: 45%;
    position: relative;
    display: flex;
    margin: 0 auto; }
    .search-bar-wrap .search-bar .search-text {
      width: 100%;
      height: 2.7rem;
      border: 3px solid #faae2b;
      border-right: none;
      padding: 5px;
      outline: none;
      background-color: rgba(255, 255, 255, 0.9); }
    .search-bar-wrap .search-bar .search-button {
      width: 45px;
      height: 2.7rem;
      border: 1px solid #faae2b;
      background: #faae2b;
      text-align: center;
      color: #00473e;
      cursor: pointer;
      font-size: 20px; }

.autocomplete {
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  font: 14px/22px "Lato", sans-serif;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid #faae2b; }

.autocomplete * {
  font: inherit; }

.autocomplete > div {
  padding: 0 4px; }

.autocomplete .group {
  background: #eee; }

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
  background: rgba(250, 174, 43, 0.5);
  cursor: pointer; }

#signup-form-wrap {
  background-color: #fffffe;
  background-image: url("./../images/signup-image.png");
  background-size: contain;
  background-position: -50px 30px;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 700px;
  height: 400px; }
  #signup-form-wrap #signup-form {
    width: 270px; }

#templeHeader {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-top: 1em;
  color: #fffffe;
  position: relative; }
  #templeHeader #infoTemple {
    position: absolute;
    bottom: 0;
    padding: 1em 2em; }
    #templeHeader #infoTemple h1,
    #templeHeader #infoTemple h4 {
      color: #fffffe; }
  #templeHeader .darkLayer {
    width: 100%;
    height: 100%;
    background: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%); }

.saved-favorite i {
  color: red; }

#reviews-box {
  background-color: #fffffe; }
  #reviews-box .card {
    border: none; }
  #reviews-box .card-body img {
    height: 30px;
    width: 30px;
    object-fit: cover; }

#reviewModal .modal-dialog {
  width: 375px; }

.txt-center {
  text-align: center; }

.hide {
  display: none; }

.clear {
  float: none;
  clear: both; }

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative; }

.rating > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000; }

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent; }

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\25C9";
  position: absolute;
  left: 0;
  color: orange; }

.home-wrap {
  width: 100%;
  height: 72vh;
  position: relative;
  background: url("./../images/home-slide.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

.home-wrap::after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=style.css.map */