@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

body {
  font: 15px "Lato", sans-serif;
}

.body-size{
  margin-left: 10vw;
  margin-right: 10vw;
}

a {
  color: #00b7ff;
}

#menu {
  background-color: #111;

  #logo-menu {
    background-image: url("./../images/logo-menu.svg");
    width: 62.5px;
    height: 23.125px;
  }

  .authBtn {
    background-color: transparent;
  }

  #menuItems {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

#userProfile {
  cursor: pointer;

  img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.auth-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  margin-bottom: 60px;
  background-color: rgba(200, 200, 200, 0.1);
  box-shadow: 0 0 5px #ccc;
}

.alert {
  margin: 0;
  border-radius: 0;
  transition: all 0.5s ease-in;
  bottom: -3.5em;
}

.showAlert {
  bottom: 0;
}


.best-average{
  display: flex;
  width: 85vw;
  margin-top: 2rem;
  justify-content: space-around;
  }

.size-cards{
  width: 15vw;
  height: 35rem;
  margin: 5px;
}

.size-cards img{
  border-radius: 50%;
}

.home-pic{
  width: 85vw;
  height: 60vh;
  margin-top: 5rem;

}

.card-size{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 2.3rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
