<form action="/user/{{user.id}}" method="POST">
    <input class="form-control" type="hidden" name="id" value="{{user.id}}">
    <label class="font-size" for="">User</label>
    <input class="form-control" type="text" name="username" value="{{user.username}}">
    <label class="font-size" for="">User Picture</label>
    <input class="form-control" type="text" name="image" value="{{user.image}}" style="margin-bottom: 2rem;">
    <input type="submit" class="btn btn-secondary" value="Update">
    <a class="btn btn-secondary" href="/" role="button">Go to Users</a>
</form>
    
