$bg-light-color: #f2f7f5;
$bg-dark-color: #00473e;
$card-bg-light: #fffffe;
$btn-primary: #faae2b;
$text-dark: #00473e;
$text-light: #475d5b;
$text-bg-dark: #fffffe;
$text-sub-bg-dark: #f2f7f5;
$highlight: #faae2b;
$shadow-dark: #000;
